
/* navbar */

.navbar {
    height: 10vh;
    width: 100vw;
    background-color: #4778a9;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
}

.logo {
    font-size: 1.5rem;
    margin-left: 75px;
    color: white;
}

.links {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-right: 75px;
}

.navbar a {
    color: white;
    text-decoration: none;
    font-size: 1.15rem;
    padding: 35px;
}

.navbar a:hover {
    color: #bdbdbd;
}

.logout {
    padding: 12px;
    background-color: #4778a9;
    border: none;
    color: white;
    font-size: 1.15rem;
}

.logout:hover {
    cursor: pointer;
    background-color: #243c55;
    /* color: #e7e6e6; */
    border-radius: 5px;
}


/* Login Form */
.login-page {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 100px;
  margin-top: 200px;
}

.title {
  color: white;
}

.login-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 50vh;
    width: 25vw;
    min-width: 350px;
    background-color: #4778a9;
    border-radius: 2px;
}

.label-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 70%;
}

.login-form label {
    color: white;
}

.login-form input {
    margin: 10px;
    padding: 10px;
    width: 120px;
    border: none;
    border-radius: 5px;
}

.btn-group {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 70%;
}

.btn-group a {
    color: white;
    text-decoration: none;
    font-size: 0.7rem;
    text-decoration: underline;
}

.btn-group button {
    padding: 10px;
    margin: 0 10px;
    width: 100px;
    border: none;
    border-radius: 5px;
    background-color: #e7e6e6;
    color: #4778a9;
}

.btn-group button:hover {
  cursor: pointer;
    background-color: #317536;
    color: #e7e6e6;
}

/* home page */

.home-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.both-lists {
    display: flex;
    justify-content: space-between;
    width: 70%;
}

.book-list {
    width: 60%;
}

.book-card {
    background-color: #4778a9;
    height: fit-content;
    width: 200px;
    margin: 15px 0;
    padding: 15px;  
    color: white;
}

.book-status {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* .checkbox {
    width: 18px;
    height: 18px;
} */


/* book form */
.book-form {
    color: white;
    min-width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #4778a9;
    padding: 2%;
    height: 300px;
}

.book-form .label-group {
    width: 70%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

.book-form .label-group input {
    width: 120px;
    height: 25px;
}

.submit-btn {
    padding: 15px;
    margin: 15px;
    margin-top: 25px;
    width: 120px;
    border-radius: 4px;
    background-color: #243c55;
    color: white;
    border: none;
}

.submit-btn:hover {
    cursor: pointer;
    background-color: #317536;
    color: #e7e6e6;
}

/* Dashboard */

.dash-page {
    margin-top: 130px;
}